{{#if isLoggedIn}}
    <div> 
        <h2 class="h2 d-flex justify-content-center">Welcome, {{user.username}} !</h2> 
    </div>
{{/if}}


<div>
    <div>
        {{#each posts as |userPost|}}
        <div class="card p-5 m-5">
            <div class="card-header">
                <span>By {{userPost.user.username}} at {{better_date post.date_created}}</span>
            </div>
            <div class="card-body">
                <h3 class="card-title" >{{userPost.post.title}}</h3>
                <span class="card-text">{{userPost.post.content}}</span>
            </div>
            
            <button><a href="/post/{{userPost.post.id}}">Select Post</a></button>
        </div>

        {{/each}}
    </div>
    {{!-- <div>
        Create a Post!
        <form id="post-form">
            <div id="create-post-error"></div>
            <div>Title: <input type="text" id="post-title" placeholder="Post Title"></div>
            <div> Content: <textarea id="post-description" placeholder="Post Description"></textarea></div>

            <button id="create-post-button">Create a Post</button>

        </form>

    </div> --}}

</div>

<script>

   

   
</script>