<div>

    <div id='post-card'>
        <span>{{post.title}}</span>
        <span>{{post.content}}</span>
        <span>{{better_date post.date_created}}</span>
        {{#if isCreator}}
        <a href="/post/{{post.id}}/edit">Edit Post</a>
        {{/if}}
    </div>


    <div>
        {{#if isLoggedIn}}
        {{#unless isCreator}}
        <div class='comment-card'>
            {{#each userComments as |userComments| }}
                <div>
                    {{userComments.comment_text}}
                </div>

            {{/each}}


        </div>
        <div>
            <form id="comment-form">
                <div id="comment-errors"></div>
                <div>{{#if userComments}} Update your {{/if}}Comment on this post</div>
                <div> <input type="text" id="comment-text"></div>
                <button id="comment-button">
                    Send Comment
                </button>
            </form>

        </div>

        <script>
            document.getElementById("comment-form").addEventListener("submit", (event) => {
                event.preventDefault();

                const comment = document.getElementById("comment-text").value;

                fetch("/api/comment", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        comment_text: comment,
                        postId: {{ post.id }},
                            }),
                        }).then((result) => {
                            if (!result.ok) {
                                document.getElementById("comment-errors").textContent = "Error with Comment";
                            } else {
                                window.location.reload();
                            }
                        });


                    });
        </script>
        {{/unless}}
        {{/if}}
    </div>
</div>