<div>

    <div class="card p-5 m-5">
        <div id="post-errors"></div>
        <div class="card-header">
            <span>{{better_date post.date_created}}</span>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <span class="card-text">{{post.content}}</span>
        </div>


        {{#if isCreator}}
        <button id="delete-post-button" class="btn btn-danger" style="color:black">Delete Post</a></button>
        {{/if}}
    </div>


    <div>
        {{#if isLoggedIn}}
        {{#unless isCreator}}
        <div class="justify-content-end">
            {{#each userComments as |userComment| }}
            <div class=" card p-3 m-3" style="">
                <div class="card-header text-right">User {{userComment.userId}} says:</div>
                <div class="card-body">
                    <div class="card-text text-right">{{userComment.comment_text}}</div>
                </div>
                <button class="delete-comment-button" data-commentid="{{userComment.id}}" class="btn btn-danger"
                    style="color:black">X</a></button>
            </div>


            {{/each}}


        </div>
        <div class="card-deck p-3 m-3" style="">
            <form id="comment-form" class="card p-3 m-1">
                <div class="form-group">
                    <div id="comment-errors"></div>
                    <div class="justify-content-center">Comment on this post</div>
                    <div> <input type="text" id="comment-text"></div>
                    <button id="comment-button" class="btn btn-primary">
                        Send Comment
                    </button>
                </div>
            </form>

        </div>

        <script>
            document.getElementById("comment-form").addEventListener("submit", (event) => {
                event.preventDefault();

                const comment = document.getElementById("comment-text").value;

                fetch("/api/comment", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        comment_text: comment,
                        postId: {{ post.id }},
                            }),
                        }).then((result) => {
                            if (!result.ok) {
                                document.getElementById("comment-errors").textContent = "Error with Comment";
                            } else {
                                window.location.reload();
                            }
                        });


                    });
            const buttons = document.getElementsByClassName("delete-comment-button");
            console.log(buttons)
            for(let i =0; i < buttons.length ; i++){
                const btn = buttons[i]
                console.log("btn", btn)
                btn.addEventListener("click", (event) => {
                    event.preventDefault();
                    console.log("evt",event, event.target);
                    const commentId = event.target.getAttribute('data-commentid');
                    fetch(`/api/comment/${commentId}/delete`, {
                        method: 'DELETE',
                    })
                        .then(window.location.replace('/post/{{ post.id}}'));
                })
            }
            ;
        </script>
        {{/unless}}
        {{/if}}
    </div>
</div>

<script>
    document.getElementById("delete-post-button").addEventListener("click", (event) => {
        event.preventDefault();

        fetch("/api/post/{{post.id}}/delete", {
            method: 'DELETE',
        })
            .then(window.location.replace('/profile'));
    });


</script>