<div>
    <h2 class="h2 d-flex justify-content-center"> Welcome, {{user.username}} !</h2>
</div>


<div>

    <div>
        {{#each posts as |userPost|}}
        <div class="card p-5 m-5">
            <div class="card-header">
                <span>By {{userPost.user.username}} at {{better_date userPost.post.date_created}}</span>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{userPost.post.title}}</h3>

                <span class="card-text">{{userPost.post.content}}</span>

            </div>



            <button><a href="/post/{{userPost.post.id}}" style="color:black">Select Post</a></button>
        </div>

        {{/each}}
    </div>
    <div class="card p-5 m-5">

        <form id="post-form">
            <div>
                <h4>Create a Post!</h4>
            </div>
            <div id="create-post-error"></div>
            <div class="form-group">
                <label for="FormControlInput1">Title:</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Post Title">
            </div>
            <div class="form-group">
                <label for="FormControlTextarea1">Content:</label>
                <textarea class="form-control" id="FormControlTextarea1" rows="6"></textarea>
            </div>

            <button id="create-post-button" class="btn btn-success">Create a Post</button>

        </form>
        

    </div>
</div>

<script>

    


    document.getElementById("post-form").addEventListener("submit", (event) => {
        event.preventDefault();

        const title = document.getElementById("FormControlInput1").value;
        const content = document.getElementById("FormControlTextarea1").value;

        fetch('/api/post', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                title,
                content,

            }),
        }).then((result) => {
            if (!result.ok) {
                document.getElementById('create-post-error').textContent = "Could not create post";

            } else {

                window.location.reload();
            }
        })
    });
</script>